@import '../../StyleConstants.scss';

.SideNavbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    box-shadow: 0px 3px 30px 2px black;  
    background-color:$sideNavbarColor;
    height:100vh;
    a{  
        line-height:30px;
        
        position: relative;
        
        flex-direction: column;
        float:left;
        display: flex;
        align-items: center;
        
        padding: 24px 60px;
        // padding-bottom:0;
        font-size:1.2em;
        text-decoration: none;
        text-shadow: 2px 4px 10px black;
        &:hover{
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: $backgroundColor;
            width:70%;
        }

    }
    img{
        
        float:left;
        margin-top:0;
        width:40px;
       
    }
    p{
      
        float:left;
    }
    .navlinkSelected{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: $navbarColor;
        width:70%;        
    }


    @media screen and (max-width: $break-large){
       
        flex-direction: row;
        height:60px;
        padding:10px 0 ;
        border-top-right-radius: 0;
        img{
            width:30px;
        }
        a{
            font-size: 0.8em;
            padding: 0 20px;
            padding-bottom:0;
            line-height:10px;
            padding: 10px 20px;
            
            &:hover{
                border-top-right-radius: 0;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                background-color: $backgroundColor;
                width:20%;
                
               
            }
            
        }

        .navlinkSelected{
            position: relative;
            border-top-right-radius: 0;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            background-color: $navbarColor;  
            width:20%;
        }
    }
}

