@import "./colors.scss";

.App{
  background-color: $backgroundColor;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  user-select: none;
  
}


h3,h4,h5{
  font-weight: lighter;
}

a{
  color:white;
}

/*The following css is for the link container for contact button*/
.Contact{
  display: inline-block;
  margin: 5em 0;
  h4:hover{
    color:black;
  }

}
.Contact:hover{
  // color:black;
}
/* The following is link container for contact button after expand portfolio*/
.expandPortfolioContactButton{
  /* margin: 0; */
  margin-bottom: 2em;
  margin-top: 2em;
 
  .ContactButton h4{
    padding: 5px 50px;
    font-size: 1em;
  }
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
