.App {
  background-color: #231616;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  height: 100vh;
}

h3,h4{
  font-weight: lighter;
}

a{
  color:white;
  text-decoration: none;
}
