.App{
  background-color: #231616;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  height: 100vh;
  user-select: none;
}


h3,h4,h5{
  font-weight: lighter;
}

a{
  color:white;
  text-decoration: none;
}

/*The following css is for the link container for contact button*/
.Contact{
  display: block;
  margin: 5em;
}
.Contact:hover{
  color:black;
}
/* The following is link container for contact button after expand portfolio*/
.expandPortfolioContactButton{
  /* margin: 0; */
  margin-bottom: 2em;
  margin-top: 2em;
}
.expandPortfolioContactButton .ContactButton h4{
  padding: 5px 50px;
  font-size: 1em;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
