@import './colors.scss';
$break-small: 500px;
$break-large:700px;


.Home{
    display: inline-block;
    vertical-align: middle;
    
    color:white;
    .DesktopViewHome{
        .DesktopScreenSizeError{
            display: block;
            border-radius: 15px;
            border: 20px solid $navbarColor;
            border-image: url('./images/DesktopResizeBorderImage.png') 34% repeat;
            padding: 10px;
            margin: 30px;
        }

        .DesktopScreen{
            display: none;
        }
        .SideNavbar{
            display: none;
        }
    }
    @media screen and (min-width: $break-large){
        .DesktopViewHome{
            display:grid;
            grid-template-columns: auto auto;
            .DesktopScreenSizeError{
                display:none;  
            }
            .SideNavbar{
                display: inline;
                // grid-column-start: 1;
                // grid-column-end: 3;
            }
         
            .DesktopScreen{
                display: inherit; 
                // position: relative;  
                padding: 0;
                
            }
           
        }
       }
}