@import './colors.scss';
$break-small: 500px;
$break-large:700px;


.Home{
    
    color:white;
    height:100vh;

    @media screen and (min-width: $break-large){
       
    }
}


.DesktopScreen{
    display: grid;
    grid-template-areas:"sidebar content";
    grid-auto-columns: auto 85%;
    background: url('./images/HomeBackground.jpg') no-repeat center bottom fixed; 
    background-size: cover;      
  
    
    .Sidebar{
        grid-area: sidebar;  
        width:auto;
        
    }
    .Content{      
        
        grid-area: content;
    
        display: flex;     
       
        justify-content: center;
       
       
        align-items: center;  
        overflow:hidden;     
               
    }
}