@import "../../StyleConstants.scss";

.header {
  margin: 0;
  padding-top: 100px;
  color: #62d39c;
  line-height: 2em;
  font-size: 7vw;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
  @media screen and (min-width: $break-large) {
    padding-top: 40px;
    font-size: 4vw;
  }
}

.PortfolioContainer {
  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .Project {
    margin: 10px;
  }
  a {
    text-decoration: none;
  }
  li {
    display: inline-block;
  }

  @media screen and (min-width: $break-small) {
    margin: 0 100px;
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: $break-large) {
    margin: 0 100px;
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
