@import '../../StyleConstants.scss';

.header{
    margin: 0;
    padding-top:100px;
    line-height: 2em;
    font-size: 7vw;
    text-transform: uppercase; 
   

    text-shadow: 2px 4px 10px black;

    @media screen and (min-width: $break-large){
        padding-top:40px;
        // font-size:400px;
        font-size: 4vw;
    }
  }

.PortfolioContainer{
       
   
    .Project{
        margin:10px;
    }
    a{
       text-decoration: none;
    }
    li{
        display: inline-block;
    }

}