.heading{
  padding-top:100px;
  color:white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 4px 10px black;
}
.heading h1{
  margin: 0;
  line-height: 1.2em;
  font-size: 17vw;
}

.heading h3{
  font-size: 5vw;
}
.expandPortfolio{
    padding-top: 10px;
}
.expandPortfolio h1{
  font-size: 11vw;
  display: inline;
  margin: 0 5px;
  text-transform: uppercase;
}
.expandPortfolio h3{
  font-size: 3.8vw;
}

@media only screen and (min-width: 770px) {
  .heading{
    padding-top:0;
    position: relative;
    bottom: 100px;
    right: 50px;
  }
  .heading h1{
    font-size: 7em;
    line-height:  1em;
  }
  .heading h3{
    font-size: 2vw;
  }
}
