.heading{
  color:white;
  text-transform: uppercase;
  text-align: center;
}
.heading h1{
  margin: 0;
  line-height: 1.2em;
  font-size: 17vw;
}

.heading h3{
  font-size: 5vw;
}
.expandPortfolio{
    padding-top: 10px;
}
.expandPortfolio h1{
  font-size: 11vw;
  display: inline;
  margin: 0 5px;
  text-transform: uppercase;
}
.expandPortfolio h3{
  font-size: 3.8vw;
}

@media only screen and (min-width: 770px) {
 
  .heading h1{
    font-size: 10vw;
    line-height:  1em;
    
  }
  .heading h3{
    font-size: 3vw;
  }
}
