@import '../../colors.scss';

.ProjectNavbar{
    background-color: $navbarColor;
    height:40px;
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    align-items: stretch;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .NavLink {
        flex-grow: 1;
        text-decoration: none;
        padding-top:7px;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
        &:hover{
            text-decoration: underline;
        }
        img{
            width:30px;
        }
    }


    .NavLinkActive{
        background-color:#301e1e;
 
    }

   

    
}




