@import '../../StyleConstants.scss';

.ProjectScreen{
    
    height: fit-content;
    padding-top: 60px;
    h1{
        text-transform: uppercase;
    }
   
    section{
        background-color: $navbarColor;
        margin: 10px 30px;
        padding: 10px 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media screen and (min-width: $break-large){
            margin: 10px 20%;
        }
        h3{
            text-align: left;
            color: $backgroundColor;
            &:after{
                content: ":";
            }
        }

        p{
            font-size:0.9em;
            text-align: left;
        }

        a{
            text-decoration: none;
            color:$backgroundColor;
        }
    }
    
}

