.portfolio{
  /* margin-top: 100px;
  line-height: 0.2em;
  cursor: grab; */
}

.portfolio:checked {
  cursor: grabbing;
}

/* Animation for arrow */
/* @keyframes SwipeUp {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 5px, 0); }
}

.upArrow{
  animation: SwipeUp 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
} */

/* h4:hover{
  color: white;
} */
