
.ContactButton{
  border-radius: 50px;
  border: 1px solid white;
  display: inline-block;
}

.ContactButton:hover{
  background-color: white;
}

@keyframes ButtonPress {
  from { transform: translate3d(0, 0, 0); }
  to   { transform: translate3d(0, 3px, 0); }
}

.ContactButton:active{
    animation: ButtonPress 0.5s;
    box-shadow: 5px 5px;
}

.ContactButton h4{
  margin: 0;
  padding: 13px 50px;
}

@media only screen and (min-width: 770px) {

}
