@import '../../StyleConstants.scss';

.ContactScreen{
  padding-top: 40px;
  h3{
    font-size: 27px;
  }
  img{
    width: 50px;
    margin: 0 5px;
    border: 2px solid $navbarColor;
    border-radius: 100%;
  }
}

input, textarea, button{
  display: block;
  margin: 10px 0;
  padding: 15px;
  border:1px solid $navbarColor;
  border-radius: 20px;
  background-color: #A19898;
  font-family:'Montserrat', sans-serif;
}

input:focus, textarea:focus, button:hover{
  background: white;
  color:#A19898;
}

input::placeholder, textarea::placeholder{
  color:white;
}

textarea{
  height: 8em;
  resize: none;
}

button{
  margin: 15px 20%;
  margin-bottom: 0;
  padding: 10px;
  color: white;
  background-color: Transparent;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

button:hover{
  color:black;
}

@keyframes ButtonPress {
  from { transform: translate3d(0, 0, 0); }
  to   { transform: translate3d(0, 3px, 0); }
}

button:active{
    animation: ButtonPress 0.5s;
    box-shadow: 5px 5px;
}


form{
  display: flex;
  flex-direction: column;
  margin: 0 15%;
  @media screen and (min-width: $break-large){

    margin: 0 20%;
  }

}

a:hover{
  text-decoration: underline;
}
