@import '../../StyleConstants.scss';

.HomeNavbar{
    background-color: darken(#4E3535,7);
    padding: 7px;
    margin: 30px 100px;
    border-radius: 5px;
    

    a{
      display: inline-block ;
    }
    img{
        margin: 0 15px;
        vertical-align: middle;
    }
}