@import '../../colors.scss';

.ProjectsBackDrop{
  height: 40px;
  color: white;
  background-color: #A19898;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom:0;
  overflow: scroll;
  
  .ProjectLink {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    text-decoration: none; 
    :hover, :active, :visited{
      background-color: $backgroundColor;
    } 
  } 
  
}
.ProjectsContainer{
  margin: 20px;
}