@import '../../StyleConstants.scss';
.Home{
    .HomeIcon{
        width:20vw;
    }
    padding-top:200px;
    @media screen and (min-width: $break-large){
        padding-top:100px;
        .HomeIcon{
            width: 170px;
        }
    }
}

