@import '../../StyleConstants.scss';

.AboutScreen{
    padding-top:80px;
    .MyFace{

        img{
            width:150px;
            border: 5px solid $navbarColor;
            border-radius: 100%;
           
        }
    }
    
    @media screen and (min-width: $break-large){
           
        padding-top:70px;
        .MyFace > img{
            width:200px;
        }
    }
  
    section{
        background-color: $navbarColor;
        margin: 10px 30px;
        padding: 10px 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
        h3{
            text-align: left;
            color: $backgroundColor;
            &:after{
                content: ":";
            }
        }

        p{
            font-size:0.9em;
            text-align: left;
        }

        a{
            text-decoration: none;
            color:$backgroundColor;
        }

        .SkillsIconBar{                      
            img{
                border-radius: 100%;
                border: 1px solid $backgroundColor;
                margin:5px;

            }
        }

        @media screen and (min-width: $break-large){
           
            margin:15px 20%;
            h3{
                font-size:1.4em;
            }
            p{
                font-size:1em; 
            }
            img{
                width:50px;
            }
        }
    }  
}

