.contact{
  margin-top:80px;
  border-radius: 50px;
  border: 1px solid white;
  margin-left: 2.3em;
  margin-right: 2.3em;
}

@keyframes SwipeRight {
  from { transform: translate3d(0, 0, 0); }
  to   { transform: translate3d(5px, 0, 0); }
}

.rightArrow{
  animation: SwipeRight 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  display: inline;
}
